body{
    font-family: 'Poiret One', cursive;

    text-align: center;

    background: linear-gradient(to right, 
    #ff0000, #ffff00);
}

input{
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    border-radius: 5px 10px 5px;

    transition: all .3s;
}

input:hover{
    transform: scale(1.1);
}